.roles-wrapper{
    padding: 20px 20px;
    min-height: 400px;
    width: 100%;
    max-width: 600px;
    border: 2px solid #2371E1;
    border-radius: 20px;
    background-color: #1c1d22;
    margin: 0 auto;
    text-align: center;
}
.roles-wrapper h2{
    color:#2371E1;
}
.roles-wrapper .titles{
    display: flex;
    align-items: center;
    justify-content: space-around;
    row-gap: 20px;
    margin-bottom: 10px;
 
    
}
.roles-wrapper .titles h3{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-right: 20px;
    color:#2371E1;
}

.user-role{
    display: flex;
    flex-direction: column;
    row-gap:0.9375rem;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    
}
.user-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-info .name,
.user-info .email{
  margin-left:70px;

}
.user-info h4{
    border-bottom: 4px solid black;
    
}
.user-info span{
 
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}
.roles-radio-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap:1.875rem ;
    font-weight: 600;
    
}
.roles-radio-button label {
    display: inline-block;
    padding: 3px;
    border: 2px solid transparent; /* Başlangıçta görünmez */
    cursor: pointer;
    transition: border-color 0.3s ease;

}
.roles-radio-button input[type="radio"]:checked + label {
    border-color:rgb(182, 5, 5);
    border-radius: 20px;
    /* Seçili label'ın kenarlık rengi */
}
.roles-submit-buttons{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 20px;
   margin-top: 20px;

}
.roles-submit-buttons button{
 padding: 10px;
 border-radius: 20px;
 border: 1px solid #ddd;
 
 }
@keyframes flashBorder {
    0% {
      border-color: #ddd;
    }
    50% {
      border-color:rgba(255, 0, 0, 0.5);
    }
    100% {
      border-color: #ddd;
    }
  }
   